
body {
    background-color: #9ce5e8;
    background-attachment: fixed;
    background-image: url('/static/images/background.png');
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.box-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #e6c2bf;
}
.form-group{
    background-color: #e6fbff;  
    padding-right: 40px; 
    padding-left: 40px; 
    padding-top: 20px; 
    padding-bottom: 35px; 
    border-radius: 45px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;   
    font-size: 20px;
 
}
.form-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
}
.customer-registration-image {
    width: 100%; /* Set the width to 100% to make it fill the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 570px; /* Set a maximum width if needed */
    display: block; /* Ensure it's treated as a block element */
    margin-top: 15px;
    margin-bottom: 15px;

}
.restaurant-registration-image {
    width: 100%; /* Set the width to 100% to make it fill the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 570px; /* Set a maximum width if needed */
    display: block; /* Ensure it's treated as a block element */
    margin-top: 15px;
    margin-bottom: 15px;

}
.transparent-input {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px;
    border-width: 0.5px;
    font-size: 25px;
}
.register-button{
    background-color: #e6c2bf; 
    color: #ffffff;
    font-weight: bolder; 
    font-size: 25px;
    padding: 7px 25px; 
    margin-top: 3px;
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    display: block;
}
.topnav::after {
    content: '';
    display: block;
    height: 4px;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.lieferspatz-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.logo {
    width: 34px; 
    height: auto; 
    margin-right: 8px;
    
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the start (left) of the container */
    padding: 5px;
    position: relative;
    margin: 20px;
}

.button-link {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    border-radius: 30px;
}

.button-link:hover {
    background-color: #e6c2bf; /* Change to a slightly darker shade on hover */
}
.logo-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*customer login page*/ 
    /*animation stuff*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.form-containerCL{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 60px;
    margin-top: 50px;
     /* Apply animation */
    animation: slideInFromLeft 0.5s ease-out; 
}
.name-input{
    padding-right: 20px;
}
.name-input-login{
    line-height:5px;
    padding-right: 20px;
}
.form-group-login{
    background-color: #e6fbff;  
    padding-right: 60px; 
    padding-left: 60px; 
    padding-top: 30px; 
    padding-bottom: 50px; 
    border-radius: 45px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;   
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.submit-button{
    background-color: #e6c2bf; 
    color: #ffffff;
    font-weight: bolder; 
    font-size: 20px;
    padding: 10px 25px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.who-group{
    background-color: #e6fbff;
    background-image: url('/static/images/customer-Restaurant.png');
    background-repeat: no-repeat;
    width: 705px;  /* Adjust the width as needed */
    height: 270px;
    border-radius: 25px;
    padding-top: 112px;
    padding-left: 30px ;
    margin-top: 90px; 
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    animation: slideInFromLeft 0.5s ease-out; 
}
.who-group::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/static/images/customer-Restaurant.png');
    background-size: cover;  /* Make the background cover the entire container */
    background-repeat: no-repeat;
    border-radius: inherit;
    z-index: -1;
}
.register-as-text{
    display: block;
    padding-bottom: 10px;
}
/* this is to remove default styling */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
/* Define custom styles */
input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid black; /* Border color */
    background-color: #fff; /* Background color */
    margin-right: 5px; /* Adjust spacing between radio buttons */
}
  
/* Style for checked state */
input[type="radio"]:checked {
    background-color: #e6c2bf; /* Change background color when checked */
    border-color: black; /* Change border color when checked */
}
.form-container-home{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 60px;
    margin-top: 50px;
     /* Apply animation */
    animation: slideInFromLeft 0.5s ease-out; 
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

.transparent-search-input {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border-width: 0.5px;
    font-size: 25px;
    padding: 10px; 
    height: 40px;
    box-sizing: border-box;
}

.search-button {
    background-color: #e6c2bf;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px; /* Adjust the font size as needed */
    padding: 10px 40px; /* Adjust the padding as needed */
    margin-top: 3px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    position: relative;
    height: 40px;
    width: 50px;
}

.search-button span {
    background-image: url('/static/images/search-loop.png');
    background-size: contain; /* Use contain instead of cover to fit the image within the button */
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 7px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 50px;
}
.name-restaurant{
    color: #e6c2bf;
}

.logo-img {
    width: 50px; 
    height: 50px; 
    object-fit: cover; /* Optional: Maintain aspect ratio while filling the box */
}

.bordered-box {
    border: 2px solid #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f8f8; 
    margin-bottom: 10px;
    float: left;
}

.menu-container {
display: flex;
flex-wrap: wrap;
}

.info-container {
    width: 60%; /* Adjust as needed */
    float: left;
}

.image-container {
    width: 40%; /* Adjust as needed */
    float: right;
    margin-top: 10px; /* Adjust as needed */
}

.restaurant-menu-logo-img {
    width: 80%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
}
.add-to-cart-button {
    float: right;
    margin-top: 10px;
}

.menu-item {
    border: 2px solid #f8f8f8;
    border-radius: 16px;
    background-color: #f8f8f8; 
    margin-bottom: 20px; 
    overflow: auto;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
