{% extends "base.html" %}
{% block title %}Add to Cart{% endblock %}
{% block button %}
    <a href="/home" class="button-link">Return to Home</a>
    <form action="/logout_customer" method="POST">
        <input type="submit" value="Logout" class="button-link">
    </form>
    <form action="/clear_cart" method="POST">
        <input type="submit" value="Clear Cart" class="button-link">
    </form>
{% endblock %}
{% block content %}
    <h1>Your Cart</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.item_name }} - Price: {{ item.price }} - Type: {{ item.type }}
                    <!-- Add more details as needed -->
                </li>
            {% endfor %}
        </ul>
        <form>
            <button id="submitOrderBtn" class="button">Submit Order</button>
        </form>   
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#submitOrderBtn").click(function () {
                // AJAX request to submit the order
                $.ajax({
                    url: "/submit_order",
                    type: "POST",
                    success: function (response) {
                        alert(response.message); // Display a message or perform other actions
                        window.location.href = "/restaurant_menu";  // Redirect to the restaurant_menu page
                    },
                    error: function (error) {
                        console.error("Error submitting order:", error);
                    }
                });
            });
        });
    </script>
{% endblock %}
