<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    var flashesContainer = document.querySelector('.flashes-container');
                    if (flashesContainer) {
                        flashesContainer.style.display = 'none';
                    }
                }, 10000); // 10 seconds (10000 milliseconds)
            });
        </script>
        
    </head>
    <body>
        <!--top navigation bar-->
        <div class="topnav">
            <div class="logo-group">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                <h1 class="lieferspatz-text">LIEFERSPATZ</h1>
            </div>
            <div class="button-container">
                {% block button %} {% endblock %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        
    </body>
</html>