<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shopping_cart %}
                <tr>
                    <td>{{ item.item_id }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.price }} EUR</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{url_for('customer_orders')}}">Back to Restaurant Overview</a>
</body>
</html>
