{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{% block button %} <a href="/register_restaurant" class="button-link">BUSINESS</a>
<a href="/login" class="button-link">LOG IN</a>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="form-container">
                   
            <form action = "#" method = "POST" class="form-group">

                <p class="box-name">JOIN US</p>

                <label for = "firstname">First Name: </label>
                <input type="text" class="transparent-input" id="firstname" name="firstname" required><br><br>

                <label for = "lastname">Last Name: </label>
                <input type="text" class="transparent-input" id="lastname" name="lastname" required><br><br>

                <label for = "street">Street:</label>
                <input type="text" class="transparent-input" id="street" name="street" required><br><br>

                <label for="houseNr">House Number:</label>
                <input type="number" class="transparent-input" id="houseNr" name="houseNr" required><br><br>

                <label for="plz">Postal Code:</label>
                <input type="number" class="transparent-input" id="plz" name="plz" required><br><br>

                <label for="username">Username: </label>
                <input type="text" class="transparent-input" id="username" name="username" required><br><br>

                <label for="email">Email:</label>
                <input type="email" class="transparent-input" id="email" name="email"><br><br>

                <label for="password">Password:</label>
                <input type="password" class="transparent-input" id="password" name="password" required><br><br>

                <label for="password_conformation">Confirm Password:</label>
                <input type="password" class="transparent-input" id="password_conformation" name="password_conformation"><br><br>

                <input type="submit" value="REGISTER" class="register-button">
            </form>
            <img src="{{ url_for('static', filename='images/customer_registration.jpg') }}" alt="Customer Registration Image" class="registration-image">
        </div>

        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_register.css') }}">
{% endblock %}
