{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block button %}
<head>
    <style>
        .logo-img {
            width: 50px; /* Set your preferred width */
            height: 50px; /* Set your preferred height */
            object-fit: cover; /* Optional: Maintain aspect ratio while filling the box */
        }
    </style>
</head>
<form action="/logout_restaurant" method="POST">
    <input type="submit" value="Logout" class="button-link">
</form>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes-container"> 
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/restaurant/delete_items" method="POST" class="form-container">
        <h3>Menu Items</h3>
        <ul>
            {% for menu in all_menu %}
            <li>
                <input type="checkbox" id="item_{{ menu['items'][1] }}" name="items_to_delete" value="{{ menu['items'][0] }}">
                <label for="item_{{ menu['items'][1] }}">{{ menu['items'][1] }}</label>
                <img class="logo-img" src="data:image/*;base64,{{ menu['logo'] }}" alt="Item Logo">
            </li>
            {% endfor %}
        </ul>
        <button type="submit" value="submit" class="button-link">Delete Selected Items</button>
    </form>

 {% endblock %}
