{% extends "base.html" %}
{% block title %}Manage Delivery Range{% endblock %}
{% block button %}<form action="/logout_restaurant" method="POST">
    <input type="submit" value="Logout" class="button-link">
</form>
{% endblock %}
{% block content %}
    <h2>Manage PLZ</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="form-container">
    {% for area in range %}
    <form action="/delete_area" class="form-container" method="POST">
    <input type="checkbox" id="{{ area[0] }}" name="areas_to_delete" value="{{ area[0] }}">
    <label for="{{ area[0] }}">{{ area[0] }}</label>
    {% endfor %}

    <button type="submit" value="submit">Delete Selected</button>
    </form>
</div>
   
   <a href = "/add_postal" class = "button-link">add new areas</a>
    <a href = "/restaurant_home" class = "button-link"> back to profile overview</a>
</div>

{% endblock %}
