{% extends "base.html" %}
{% block title %}Lieferspatz{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<body>
    <h1>Restaurant Selection</h1>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <h3>{{ restaurant[0] }}</h3>
                <p>{{ restaurant[1] }} {{ restaurant[2]}}</p>
                <a href="/restaurant/{{ restaurant[0] }}">View Details</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
