{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes-container"> 
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
<h1>Welcome to the Restaurant Overview</h1>

<body>

    {% if restaurants %}
        <h2>Restaurants</h2>
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <h3>{{ restaurant[1] }}</h3>
                    <p>Address: {{ restaurant[2] }} {{ restaurant[3] }}</p>
                    <p>Restaurant ID: {{ restaurant[0] }}</p>

                    <h4>Openning Times:</h4>
                    <ul>
                        {% for openning_time in openning_times %}
                            {% if openning_time[0] == restaurant[0] %}
                                <li>
                                    <p>{{ openning_time[1] }}: {{ openning_time[2] }} - {{ openning_time[3] }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No restaurants available.</p>
    {% endif %}
</body>
</form>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
{% endblock %}
