{% extends "base.html" %}
{% block title %}Lieferspatz{% endblock %}
{% block button %}<a href="/login" class="button-link">LOG IN</a>{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes-container"> 
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
{% endwith %}
    <form method="POST" class="who-group">
        <label for="customer" class="register-as-text">
            <input type="radio" name="role" id="customer" value="customer"> Register as a customer
        </label><br>
        <label for="restaurant" class="register-as-text">
            <input type="radio" name="role" id="restaurant" value="restaurant"> Register as a restaurant owner
        </label><br>   
        <input type="submit" value="SUBMIT" class="submit-button"> 
    </form>
{% endblock %}    