{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Login</h1>
<form action= # method="POST">
    <label for = "username">username</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for = "password">password</label>
    <input type="password" name="password" id="password" required><br><br>
    
    <input type="submit" value="login">
</form>
<a href ="/register">create an account instead</a>
<a href = "/register_restaurant">start a Buisness</a>
{% endblock %}
