{% extends "base.html" %}
{% block title %}Manage PLZ{% endblock %}
{% block content %}
    <h2>Manage PLZ</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/add_postal" class="form-group" method="POST">
        <label for="plz">PLZ:</label>
        <input type="number" name="del_plz" id="del_plz" required>
        <button type="submit" name="action" value="add_postal">Add PLZ</button>
    </form>
    <h4>added areas:</h4>
    <ul>
        {% for plz in plz_list %}
            <li>{{ plz }}</li>
        {% endfor %}
    </ul>
    {% if show_skip %}
    <a href="/restaurant_home" class="button-link">skip to profile overview</a>
    {% endif %}
    <form action="/add_postal" method="POST">
        <button type="submit" name="action" value="submit_postals">Click Here to Confirm</button>
    </form>
{% endblock %}
