{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{% block button %} 
<a href="/register" class="button-link">Create a customer account</a>
<a href="/restaurant_login" class="button-link">Buisness Login</a>
{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes-container">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
        <div class="form-container">
            
            <form action = "#" method = "POST" class="form-group">
                <!--registration from-->
                <p class="box-name">JOIN US</p>

                <label for="restaurantname">Restaurant Name:</label>
                <input type="text" id="restaurantname" name="restaurantname" class="transparent-input" required><br><br>

                <label for="username">Username: </label>
                <input type="text" id="username" name="username" class="transparent-input" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="transparent-input"><br><br>

                <label for = "address">Address:</label>
                <input type="text" id="address" name="address" class="transparent-input" required><br><br>

                <label for="plz">Postal Code:</label>
                <input type="number" id="plz" name="plz" min="10000" max="99999" class="transparent-input" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="transparent-input" required><br><br>

                <label for="password_conformation">Confirm Password:</label>
                <input type="password" id="password_conformation" name="password_conformation" class="transparent-input"><br><br>
                
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows = "4" cols="35" class="transparent-input"></textarea>

                <input type="submit" value="REGISTER" class="register-button">

            </form>

            <img src="{{ url_for('static', filename='images/restaurant_register.png') }}" alt="restaurant Registration Image" class="restaurant-registration-image">
        </div>

       
    {% endblock %}