{% extends "base.html" %}
{% block title %}Registration Form{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-container">
        <h1>Restaurant Registration</h1>
        <form action = "#" method = "POST">

           <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="password_conformation">Confirm Password:</label>
            <input type="password" id="password_conformation" name="password_conformation"><br><br>

            <label for = "address">Address:</label>
            <input type="address" id="address" name="address" required><br><br>

            <label for="plz">Postal Code:</label>
            <input type="number" id="plz" name="plz" required><br><br>

            <label for="restaurantname">Restaurant Name:</label>
            <input type="restaurantname" id="restaurantname" name="restaurantname" required><br><br>

            <label for="description">Description:</label>
            <input type="description" id="description" name="description" required><br><br>

        
            
            <input type="submit" value="Register">
        </form>
        <a href = "/login">already have an account?</a>
        <a href = "/register"> Customer? Make an order with us!</a>
    {% endblock %}