{% extends "base.html" %}
{% block title %}Add to Cart{% endblock %}
{% block button %}
    <a href="/home" class="button-link">Home</a>
    <form action="/logout_customer" method="POST">
        <input type="submit" value="Logout" class="button-link">
    </form>
{% endblock %}
{% block content %}
    <h1>Your History</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if all_history %}
        <ul>
            {% for history in all_history %}
                <li>
                    {{ history.menu[2] }} - Restaurant: {{ history.restaurant[2] }} - Customer: {{ history.customer[1] }} - Status: {{ history.history[7] }}
                    <!-- Add more details as needed -->
                </li>
            {% endfor %}
            <form action="{{url_for('order_cart.clear_history')}}" method="POST">
                <input type = "hidden" value = "customer" name = "user_type">
                <input type="submit" value="Delete history" class="button">
            </form>
        </ul>
    {% else %}
        <p>History is empty</p>
    {% endif %}


{% endblock %}