
body {
    background-color: #9ce5e8;
    background-image: url('/static/images/background.png');
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.box-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #e6c2bf;
}
.form-group{
    background-color: #e6fbff;  
    padding-right: 40px; 
    padding-left: 40px; 
    padding-top: 20px; 
    padding-bottom: 35px; 
    border-radius: 45px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;   
    font-size: 20px;
 
}
.form-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
}
.customer-registration-image {
    width: 100%; /* Set the width to 100% to make it fill the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 570px; /* Set a maximum width if needed */
    display: block; /* Ensure it's treated as a block element */
    margin-top: 15px;
    margin-bottom: 15px;

}
.restaurant-registration-image {
    width: 100%; /* Set the width to 100% to make it fill the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 570px; /* Set a maximum width if needed */
    display: block; /* Ensure it's treated as a block element */
    margin-top: 15px;
    margin-bottom: 15px;

}
.transparent-input {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px;
    border-width: 0.5px;
    font-size: 25px;
}
.register-button{
    background-color: #e6c2bf; 
    color: #ffffff;
    font-weight: bolder; 
    font-size: 25px;
    padding: 7px 25px; 
    margin-top: 3px;
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    display: block;
}
.topnav::after {
    content: '';
    display: block;
    height: 4px;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.lieferspatz-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.logo {
    width: 34px; 
    height: auto; 
    margin-right: 8px;
    
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the start (left) of the container */
    padding: 5px;
    position: relative;
    margin: 20px;
}

.button-link {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    border-radius: 30px;
}

.button-link:hover {
    background-color: #e6c2bf; /* Change to a slightly darker shade on hover */
}
.logo-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*customer login page*/ 
    /*animation stuff*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.form-containerCL{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 60px;
    margin-top: 50px;
     /* Apply animation */
    animation: slideInFromLeft 0.5s ease-out; 
}
.name-input{
    padding-right: 20px;
}
.name-input-login{
    line-height:5px;
    padding-right: 20px;
}
.form-group-login{
    background-color: #e6fbff;  
    padding-right: 60px; 
    padding-left: 60px; 
    padding-top: 30px; 
    padding-bottom: 50px; 
    border-radius: 45px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;   
}