<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_register.css') }}">
    </head>
    <body>
        <!--top navigation bar-->
        <div class="topnav">
            <div class="logo-group">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                <h1 class="lieferspatz-text">LIEFERSPATZ</h1>
            </div>
            <div class="button-container">
                <a href="/register_restaurant" class="button-link">BUSINESS</a>
                <a href="/login" class="button-link">LOG IN</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        
    </body>
</html>
