{% extends "base.html" %}
{% block title %}Add to Cart{% endblock %}
{% block button %}
    <a href="/restaurant/restaurant_home" class="button-link">Return to home</a>
    <form action="{{ url_for('restaurant.restaurant_history') }}">
        <input type="hidden" name="user_type" value="restaurant">
        <input type="submit" value="History" class="button-link">
    </form>
    <form action="/logout_restaurant" method="POST">
        <input type="submit" value="Logout" class="button-link">
    </form>
{% endblock %}
{% block content %}
    <h1>Your Awaiting Orders</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if all_order[0] %}
    <div class="form-group">
        <ul>
            {% for customer_name, customer_orders in all_order[0].items() %}
                <h3>Customer: {{ customer_name }}</h3>
                {% for their_order in customer_orders %}
                    <li>
                        Name :{{ their_order['menu'][2] }} - Status: {{ their_order['order'][7] }}
                        <!-- Additional details as needed -->
                    </li>
                {% endfor %}
                <form action="{{ url_for('update_status') }}" method="POST">
                    {% for their_order in customer_orders %}
                        <input type="hidden" name="order_id" value="{{ their_order['order'][0] }}">
                    {% endfor %}
                    <input type="hidden" name="status" value="accepted" class="button-link">
                    <input type="submit" value="Accept" class="button-link">
                </form>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>You have no awaiting orders.</p>
    {% endif %}

    <h1>Accepted Orders</h1>
    {% if all_order[1] %}
    <div class="form-group">
        <ul>
            {% for customer_name, customer_orders in all_order[1].items() %}
                <h3>Customer: {{ customer_name }}</h3>
                {% for their_order in customer_orders %}
                    <li>
                        Name: {{ their_order['menu'][2] }} - Status: {{ their_order['order'][7] }}
                        <!-- Additional details as needed -->
                    </li>
                {% endfor %}
                <form action="{{ url_for('update_status') }}" method="POST">
                    {% for their_order in customer_orders %}
                        <input type="hidden" name="order_id" value="{{ their_order['order'][0] }}">
                    {% endfor %}
                    <select name="status" class="button-link">
                        <option value="preparing">Preparing</option>
                        <option value="delivering">Delivering</option>
                        <option value="accepted">Accepted</option>
                    </select>
                    <input type="submit" value="Update Status" class="button-link">
                </form>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>You have no accepted orders.</p>
    {% endif %}

    {% endblock %}
